span{
  font-size: clamp(15px, calc(1.5vw + 0.1rem), 30px);
}
h5 {
  font-size: clamp(18px, calc(1.5vw + 0.1rem), 40px);
  font-weight: 600;
}
h3{
  font-size: clamp(30px, calc(2.5vw + 0.1rem), 60px);
}